{% extends 'base.html' %}

{% block content %}

<style>
  .fom{
    background-color: anqua;
  }
</style>

  <h1 class="text-center">Crop Recommendation System</h1>

<div class="fom">

  <div class="d-fleex justify-cofntent-center">
    <form method="post">
      {% csrf_token %}
      <div class="fieldz d-flex flex-wrap">

      {% for field in form %}
      <div class="col-md-4 p-3">
        {{field.label}}
        {{field}}
        </div>
        <br>
      {% endfor %}
    </div>

        
      <div class="d-flex justify-content-center">

   <br>
      <button class="btn btn-primary" type="submit">Predict</button>
      <br>
      <br>
    </div>
<br>
    </form>
  </div>
</div>

{% endblock %}

